#topper 	{ position: absolute; top:10px; left:-55px; z-index: 9998;width: 400px; }
#menu		{ position: absolute; top:55px; left:587px; z-index: 9998; COLOR: whitesmoke; FONT-FAMILY: arial; FONT-SIZE: 9pt; text-align: right; Font-weight: lighter;}
#bar		{ position: absolute;top:79px;left:48px;z-index: 9998;BACKGROUND-COLOR: #333333;width: 900px;height: 3px;}
#barL		{ position: absolute;top:69px;left:48px;z-index: 9998;BACKGROUND-COLOR: #333333;width: 900px;height: 3px;}
#bar2		{ position: absolute;top:328px;left:48px; z-index: 9998;BACKGROUND-COLOR: #333333; width: 900px; height: 3px;}
#bar4		{ position: absolute; top:700px; left:48px; z-index: 9998;BACKGROUND-COLOR: #333333; width: 900px; height: 3px;}
#div2		{position: absolute; top:100px;  left:18px; z-index: 9998;background-color: #333333;width:900px;height:40px;COLOR:whitesmoke;FONT-FAMILY:arial;FONT-SIZE: 10pt;text-align: center;cursor: hand;}
#div3		{position:absolute;top:85px; left:48px; z-index: 9998;background-color: #000000;width:900px;height:40px;COLOR:whitesmoke;FONT-FAMILY:arial;FONT-SIZE: 14pt;text-align: center;font-weight: normal;}
#movie		{position: absolute; top:125px; left:48px; z-index: 9998;background-color: #000000;width:900px;text-align: center;}
#bar1		{BACKGROUND-COLOR: #ffffff; color: white;FONT-FAMILY: arial;FONT-SIZE: 10pt;font-weight:500;width: 900px;height: 3px;}
#products	{position: absolute; top:340px; left:48px;z-index: 9998;COLOR: #333333;FONT-FAMILY: arial;FONT-SIZE: 10pt;text-align:left;font-weight:normal;vertical-align: top;cursor: hand;}
#feature	{position:relative;background-color:#FFFFFF;COLOR: #333333;FONT-FAMILY: arial;FONT-SIZE: 10pt;font-weight:400;text-align:left;vertical-align: top;}
#inset		{position: absolute; top:340px; left:385px; z-index: 9998;COLOR: #333333;FONT-FAMILY: arial;FONT-SIZE: 10pt;font-weight:400;text-align:left; width: 550px; vertical-align:top;}
#inset1		{position: absolute; top:130px; left:225px; z-index: 9998;COLOR: #333333;FONT-FAMILY: arial;FONT-SIZE: 10pt;font-weight:400;text-align:left; width: 550px; vertical-align:top;}
#insetIM	{position: absolute; top:340px; left:225px; z-index: 9998;width: 150px; vertical-align:top;}
#insetIM1	{position: absolute; top:130px; left:25px; z-index: 9998;width: 405px;height: 205px; vertical-align:top; }
#logobox	{position: absolute; top:53px; left:48px; z-index: 9998;FONT-FAMILY: arial;color: #000000;Font-weight: normal;FONT-SIZE: 10pt; text-align:left;}
#footer		{ position: absolute; top:706px; left:48px; z-index: 9998;background-color: #cccccc;COLOR: #000000;FONT-FAMILY: arial;FONT-SIZE: 11pt;text-align: center;font-weight: normal; width: 900px;	}
#protectheader	{ position: absolute; top:55px; left:48px;z-index: 9998;COLOR: #333333;FONT-FAMILY: arial;FONT-SIZE: 10pt;text-align:left;font-weight:normal;vertical-align: top; width: 900px;}
div{ COLOR: navy;FONT-FAMILY: arial;FONT-SIZE: 9pt;font-weight: bolder;overflow:auto;}





TH
{
	background-color: navy;
	COLOR: white;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 9pt;
	text-align: left;
	font-weight: normal;
}

TD
{ COLOR: white; 
	FONT-FAMILY: arial; 
	FONT-SIZE: 11pt; 
	text-align:left; 
	background-color:white;
	height: 15 px}

.logophrase
{ 
  FONT-FAMILY: arial;
  color: #000000;
  Font-weight: normal;
  FONT-SIZE: 10pt;
  text-align:left;
}



.footer1
{
	background-color:smokewhite;
	COLOR: #000000;
	FONT-FAMILY: arial;
	FONT-SIZE: 9pt;
	text-align: left;
	font-weight: normal;
	cursor: hand;
}
.footer2
{
	background-color:#EAEAEA;
	COLOR: #000000;
	FONT-FAMILY: arial;
	FONT-SIZE: 9pt;
	text-align: left;
	font-weight: normal;
	cursor: hand;
}
.copyrightSelect
{
	background-color: #F0F8FF;
	COLOR: red;
	FONT-FAMILY: arial;
	FONT-SIZE: 8pt;
	text-align: center;
	font-weight: 400;
	cursor:hand;
}

a
{
		FONT-FAMILY: arial;
		FONT-SIZE: 9pt;
		color:#000000;
		font-weight:lighter;
		text-align:center;
		text-decoration:none;
}
a:Hover
{
		FONT-FAMILY: arial;
    	FONT-SIZE: 9pt;
		text-align:center;
		text-decoration: none;
		color:red;
}
.aAlt 
{
		color:#660000;
}
					
.Selected{
		background-color:gray;
		color: black;
		width:145;
		}
.NotSelected{
		background-color:silver;
		color: navy;
		width:145;
		}		
.barL 
{     position:absolute;
	  left:10px; top:50px;
	  BACKGROUND-COLOR: #333333;
	  color: white;
	  FONT-FAMILY: arial;
      FONT-SIZE: 8pt;
	  font-weight:500;
	  width: 780px;
	  height: 3px;
}

div 
{  position:absolute; 
	left:72px; top:50px;
	COLOR: navy;
	FONT-FAMILY: arial;
	FONT-SIZE: 9pt;
	text-align: center;
	font-weight: bolder;
	overflow:auto;
}

.divtop 
{
	position:absolute;
	left:565px;
	top:28px;
	COLOR: navy;
	FONT-FAMILY: arial;
	FONT-SIZE: 10pt;
	text-align: center;
	font-weight: bolder;
	cursor: hand;
	overflow:auto;
}
.divfooter 
{  position:relative; 
	left:20px; top:10px;
	COLOR: navy;
	FONT-FAMILY: arial;
	FONT-SIZE: 10pt;
	text-align: center;
	font-weight: bolder;
	cursor: hand;
	overflow:auto;
}
.divcontent 
{  position:absolute; 
	left:150px; top:80px;
	COLOR: navy;
	FONT-FAMILY: arial;
	FONT-SIZE: 10pt;
	text-align: center;
	font-weight: bolder;
	cursor: hand;
	overflow:auto;
}
.divcopyright 
{  position:absolute; 
	left:60px; top:20px;
	COLOR: navy;
	FONT-FAMILY: arial;
	FONT-SIZE: 9pt;
	text-align: left;
	font-weight: bolder;
	cursor: hand;
	overflow:auto;
}
.divleftmenu
{  position:absolute; 
	left:10px; top:80px;
	COLOR: #333333;
	FONT-FAMILY: arial;
	FONT-SIZE: 11pt;
	text-align: left;
	font-weight: bolder;
	cursor: hand;
	overflow:auto;
}
.divlogoimage
{  position:absolute; 
	left:10px; top:10px;
	text-align: left;
	overflow:auto;
}
.divlogoimage1
{  position:absolute; 
	left:500px; top:80px;
	text-align: left;
	overflow:auto;
}
.divT
{ 
	COLOR: navy;
	FONT-FAMILY: arial;
	FONT-SIZE: 9pt;
	text-align: left;
	font-weight: bolder;
	cursor: hand;
}
.divC, .divL, .divP, .divS
{  position:absolute; 
	left:25px; top:50px;
	COLOR: navy;
	FONT-FAMILY: arial;
	FONT-SIZE: 9pt;
	text-align: center;
	font-weight: bolder;
	cursor: hand;
	overflow:auto;
}

.div1 {
  position:absolute; 
	left:74px; top:0px;
    width:800px;
	height:400px;
	overflow:auto;
	}
	
pre { margin:0 0 .8em 0; font-size:100% }
